# HierarchicalModel
protected net.minecraft.client.model.HierarchicalModel ANIMATION_VECTOR_CACHE

# FallingBlockEntity
public net.minecraft.world.entity.item.FallingBlockEntity blockState
protected net.minecraft.world.entity.item.FallingBlockEntity cancelDrop

# ClientLevel
public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;

# BlockAgeProcessor
public net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor PROBABILITY_OF_REPLACING_FULL_BLOCK
public net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor PROBABILITY_OF_REPLACING_STAIRS
public net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor PROBABILITY_OF_REPLACING_OBSIDIAN
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor NON_MOSSY_REPLACEMENTS

protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor mossiness

protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor maybeReplaceFullStoneBlock(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/world/level/block/state/BlockState;
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor maybeReplaceStairs(Lnet/minecraft/util/RandomSource;Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/block/state/BlockState;
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor maybeReplaceSlab(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/world/level/block/state/BlockState;
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor maybeReplaceWall(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/world/level/block/state/BlockState;
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor maybeReplaceObsidian(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/world/level/block/state/BlockState;
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor getRandomBlock(Lnet/minecraft/util/RandomSource;[Lnet/minecraft/world/level/block/state/BlockState;[Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/block/state/BlockState;

public net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor getRandomFacingStairs(Lnet/minecraft/util/RandomSource;Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/world/level/block/state/BlockState;
public net.minecraft.world.level.levelgen.structure.templatesystem.BlockAgeProcessor getRandomBlock(Lnet/minecraft/util/RandomSource;[Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/block/state/BlockState;